{
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended",
        "plugin:node/recommended-module",
        "plugin:prettier/recommended",
        "plugin:jest/recommended"
    ],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error",
        "no-process-exit":"off"
    }
}